<div class="nav">
    <ul>
        <li><LinkTo @route="index">Proposal</LinkTo></li>
        <li><LinkTo @route="arch-diagram">Architecture Diagram</LinkTo></li>
        <li><LinkTo @route="workflow">Workflow</LinkTo></li>
        <li><LinkTo @route="cost-analysis">Cost Analysis</LinkTo></li>
        <li><LinkTo @route="api-gateway">API Gateway</LinkTo></li>
        <li><LinkTo @route="further-research">Further Research</LinkTo></li>
        <li><LinkTo @route="arch-comparison">Architecture Comparison</LinkTo></li>
    </ul>
</div>
<h2 class="intro-section">Current Architecture</h2>
<div class="diagram">
        <img src="assets/current-arch.png" alt="Architecture Diagram Current">
</div>
<h2 class="intro-section">Proposed Architecture</h2>
<div class="diagram">
        <img src="assets/arch-diagram.png" alt="Architecture Diagram">
        <img src="assets/cloudfront.png" alt="Architecture Diagram">
</div>