<div class="nav">
    <ul>
        <li><LinkTo @route="index">Proposal</LinkTo></li>
        <li><LinkTo @route="arch-diagram">Architecture Diagram</LinkTo></li>
        <li><LinkTo @route="workflow">Workflow</LinkTo></li>
        <li><LinkTo @route="cost-analysis">Cost Analysis</LinkTo></li>
    </ul>
</div>
<h2 class="intro-section">Current Architecture Cost</h2>
<div class="intro-text">
    <h2>Infrastructure Cost</h2>
    <h2>Maintenance Cost</h2>
</div>
<h2 class="intro-section">Proposed Architecture Cost</h2>
<div class="intro-text">
    <h2>S3 Bucket</h2>
    <h2>Cloudfront CDN</h2>
    <h2>Maintenance Cost</h2>
</div>