<div class="nav">
    <ul>
        <li><LinkTo @route="index">Proposal</LinkTo></li>
        <li><LinkTo @route="arch-diagram">Architecture Diagram</LinkTo></li>
        <li><LinkTo @route="workflow">Workflow</LinkTo></li>
        <li><LinkTo @route="cost-analysis">Cost Analysis</LinkTo></li>
        <li><LinkTo @route="api-gateway">API Gateway</LinkTo></li>
        <li><LinkTo @route="further-research">Further Research</LinkTo></li>
        <li><LinkTo @route="arch-comparison">Architecture Comparison</LinkTo></li>
        <li><LinkTo @route="final-solution">Final Solution</LinkTo></li>
    </ul>
</div>
<h2 class="intro-section">Final Architecture Solution</h2>
<div class="container">
        <img src="assets/final-solution.png" alt="cloud solution" class="final-solution-pic">
</div>
<br><br>
<div class="intro">
<h2 class="intro-section">Resources</h2>
    <div class="intro-text">
    <h3>AWS S3 Bucket</h3>
    <p></p>
    <h3>AWS CloudFront</h3>
    <p></p>
    <h3>AWS API Gateway</h3>
    <p></p>
    <h3>AWS Route 53</h3>
    <p></p>
    <h3>AWS Certificate Manager</h3>
    <p></p>
    </div>
</div>
