<div class="nav">
    <ul>
        <li><LinkTo @route="index">Proposal</LinkTo></li>
        <li><LinkTo @route="arch-diagram">Architecture Diagram</LinkTo></li>
        <li><LinkTo @route="workflow">Workflow</LinkTo></li>
        <li><LinkTo @route="cost-analysis">Cost Analysis</LinkTo></li>
    </ul>
</div>
<h2 class="intro-section">User Flow Diagram</h2>
<div class="diagram">
        <img src="assets/workflow-diagram.png" alt="workflow Diagram">
</div>
<div class="intro-text">
    <h2>Workflow Steps</h2>
</div>